<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AccountMapper">
 
 <select id="AccountList" resultType="HashMap">
    select
        account_code as code,
        account_hp as hp,
        account_address as address,
        account_name as value,
        account_fax as fax
    from account
    WHERE account_state = 1
 </select>
 
<delete id="Accountdelete" parameterType="java.util.Map">
        DELETE FROM account WHERE account_code = #{CODE}
</delete>
 
 <update id="Accountupdatecode" parameterType="Map">
		UPDATE account_history
			SET SITUATION = 0
		WHERE code = #{CODE}
 </update>
 
 <update id="AccountupdatecomCdvalue" parameterType="Map">
		UPDATE comCd
			SET value = #{VALUE}
		WHERE value = #{revalue}
 </update>
 
<update id="updateAccount" parameterType="HashMap">
    UPDATE account
    SET account_hp = #{HP},
        account_name = #{VALUE},
        account_fax = #{FAX},
        account_address = #{ADDRESS}
    WHERE account_code = #{CODE}
 </update>
 
 <update id="deleteAccount" parameterType="HashMap">
    UPDATE account
    SET account_state = 0
    WHERE account_code = #{CODE}
 </update>
 
<insert id="insertAccount" parameterType="map">
INSERT INTO account (account_code, account_hp, account_address, account_name, account_state, account_fax)
VALUES (#{accode}, #{achp}, #{acaddress}, #{acname}, 1, #{acfax})
</insert>


</mapper>