<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AccountMapper">
 
 <select id="AccountList" resultType="HashMap">
	select 
    	code,
    	value,
    	value revalue
	from account_history
	where SITUATION = 1
 </select>
 
<delete id="Accountdelete" parameterType="java.util.Map">
        DELETE FROM account WHERE account_code = #{CODE}
</delete>
 
 <update id="Accountupdatecode" parameterType="Map">
		UPDATE account_history
			SET SITUATION = 0
		WHERE code = #{CODE}
 </update>
 
 <update id="AccountupdatecomCdvalue" parameterType="Map">
		UPDATE comCd
			SET value = #{VALUE}
		WHERE value = #{revalue}
 </update>
 
<update id="Accountupdatevalue" parameterType="Map">
		UPDATE account_history
			SET value = #{VALUE}
		WHERE value = #{revalue}
 </update>
 
<insert id="insertAccount" parameterType="map" useGeneratedKeys="false">
    <selectKey keyProperty="accountCode" resultType="int" order="BEFORE">
        SELECT account_sequence.NEXTVAL FROM dual
    </selectKey>
    INSERT INTO account (account_code)
    VALUES (#{accountCode})
</insert>

<insert id="AccountCategoryDetail" parameterType="map">
    INSERT INTO comCd (code, value,div)
    VALUES (#{accountCode}, #{value},#{div})
</insert>

 <insert id="Accounthistory" parameterType="map">
    INSERT INTO account_history (code, value,situation)
    VALUES (#{accountCode}, #{value},#{situation})
</insert>
 
</mapper>