<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BoxMapper">
 
 <select id="boxList" resultType="HashMap">
	select 
	    box_code as BOXCODE,
	    box_name as BOXNAME,
	    box_count as BOXCOUNT,
	    box_code reboxcode
	from box_quantity
 </select>
 
 <insert id="boxadd" parameterType="Map">
INSERT INTO box_quantity (box_code, box_name, box_count) VALUES (#{boxcode}, #{boxname}, #{boxcount})	
 </insert>
 
<delete id="Boxdelete" parameterType="java.util.Map">
        DELETE FROM box_quantity WHERE box_code = #{BOXCODE}
</delete>

<update id="Boxupdate" parameterType="java.util.Map">
		UPDATE box_quantity
			SET box_code = #{BOXCODE},
				box_name = #{BOXNAME},
				box_count = #{intboxcount}
		WHERE box_code = #{REBOXCODE}
</update>
</mapper>