<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DepartmentMapper">
 
 <select id="DepartmentList" resultType="HashMap">
select
    department_code as code,
    department_hp as hp,
    department_name as VALUE,
    department_fax as fax
from department
WHERE department_state = 1
 </select>

<insert id="insertDepartment" parameterType="map">
INSERT INTO department (department_code, department_hp,department_name,department_fax,department_state)
VALUES (#{departname},#{departcode},#{departhp},#{departfax},1)
</insert>

<update id="updateDepartment" parameterType="HashMap">
    UPDATE department
    SET department_hp = #{HP},
        department_name = #{VALUE},
        department_fax = #{FAX}
    WHERE department_code = #{CODE}
</update>

<update id="deleteDepartment" parameterType="HashMap">
UPDATE department
    SET department_state = 0
WHERE department_code = #{CODE}
</update>
 
</mapper>