<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ProductMapper">
 
<insert id="productadd"  parameterType="map">
INSERT INTO product (product_code, product_name, app_quantity, category_code, account_code)
VALUES (#{code},#{name}, #{quantity},#{catavalue}, #{accountvalue})
</insert>

<insert id="insertinventory" parameterType="Map">
	INSERT INTO inventory (product_code, current_quantity) VALUES (#{code},0)
</insert>

<select id="productseachnamelist" parameterType="Map">
select 
p.product_code code,
p.product_name name,
p.app_quantity quantity,
p.category_code cavalue,
p.account_code acvalue,
a.account_name acname
from product p , account a
where product_name= #{searchinto} 
and category_code = #{catavalue}
and p.account_code = a.account_code
</select>

<select id="productseachacvaluelist" parameterType="Map">
select 
p.product_code code,
p.product_name name,
p.app_quantity quantity,
p.category_code cavalue,
p.account_code acvalue,
a.account_name acname
from product p , account a
where account_name= #{searchinto} 
and category_code = #{catavalue}
and p.account_code = a.account_code
</select>

<update id="productupdate" parameterType="Map">
		UPDATE product
			SET app_quantity = #{QUANTITY}
		WHERE product_code = #{CODE}	
</update>

<delete id="productdelete" parameterType="Map">
	 DELETE FROM product WHERE product_code = #{CODE}
</delete>
</mapper>