<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.StoreMapper">

	<select id="storeList">
		select * from store a
		inner join box_quantity b
		    on a.boxcode = b.boxcode
	</select>
	

</mapper>



